/* HOME PAGE */
/* -------------------------------------------------------------------------------------------------------------- */
.home{	margin: 0px auto 0px;	}
#border-top-home.home {background: url(../images/login-header-bg.jpg) repeat-x left bottom ;	padding-bottom: 1px; height:61px; }
#border-top-home.home div {	background: url(../images/VerticalBorder.jpg) no-repeat right bottom; height:100% }
#border-top-home.home div div {	background: url(../images/VerticalBorder.jpg) no-repeat left bottom; border-top: solid 1px #cccccc;}
#border-top-home.home h1 { 	font-size: 20px;	font-weight: normal;	line-height: 26px;	padding: 5px 0 0 18px;}  /* AG 02/05/2013 REMOVED color: #005992; SINCE OVERSPECIFIC AND CAN INHERIT DIRECTLY FROM H1 FOR THE SAME COLOUR*/

#homeSelectsA fieldset  {display:table;}
#homeSelects ul  {list-style-type: none;}
#homeSelects li {float: left; list-style: none;}
#homeSelects select {margin: 0px 0px 0px 20px;}

.padLeftItems TD {padding-left: 28px;}

.NoPadding {padding:0px; width:0px;}
.NoHorizPadding { padding-left: 0px; padding-right: 0px;}
.NoMargin { margin: 0px !important; }

#homeTask a:hover { color: darkblue;}

.boxedLeftDiv { float: left; display: block; margin-left: 24px; margin-bottom: 20px; border: solid 1px #cccccc; padding: 3px }
.boxedLeftDiv table td,
.boxedLeftDiv table tr {vertical-align: top;}
.boxedLeftDiv table select,
.boxedLeftDiv table input { margin: 0px 5px;}

.boxedDiv { float: left; display: block; margin-left: 5px; border: solid 1px #cccccc; padding: 3px }

.boxedLeftDiv table caption,
.boxedLeftDiv table th,
.boxedDiv table caption,
.boxedDiv table th {background-color: darkblue; color: white; font-size: 14px; font-weight:bold; padding: 4px 0px; text-align:center;}
.boxedDiv input[type="submit"] {margin-left:18px;}

.ProjectHead		{margin-top: 10px;}
.ProjectHeadCell	{color: #005992; font-size: 1.4em; font-weight: bold; background-color: lightgray; line-height: 1.7em; vertical-align: bottom; padding: 4px 4px 0px 4px; }

#serviceProviderTable td,
#contractTable td {padding-left: 0px; padding-top: 0px;}

#div_patients table {width: auto;}
#div_patients table th,
#div_patients table td {margin: 0px; padding: 2px 7px;}
#div_patients table td:hover { color: #005992; cursor:pointer; cursor: hand;}

#div_receivedMessages table {width: auto;}
#div_receivedMessages th,
#div_receivedMessages table td {margin: 0px; padding: 2px 7px;}
#div_receivedMessages table td:hover { color: #005992; cursor:pointer; cursor: hand;}

#div_WorkPackages table {width: auto;}
#div_WorkPackages table th,
#div_WorkPackages table td {margin: 0px; padding: 2px 7px;}
#div_WorkPackages table td:hover { color: #005992; cursor:pointer; cursor: hand;}

#div_WorkPackage table caption {color: #005992; font-size: 1.4em; font-weight: bold; background-color: lightgray; line-height: 1.7em; vertical-align: bottom; padding: 10px 4px 0px 4px; border-top: 1px solid darkgray; border-left: 1px solid darkgray; border-right: 1px solid darkgray; }
#div_WorkPackage table {margin-top:20px; border: 1px solid darkgray;}

#div_loadRecord table {width: auto;}
#div_loadRecord table th,
#div_loadRecord table td {margin: 0px; padding: 2px 7px;}

.MWLoadRecordHead		{margin-top: 10px;}
.MWLoadRecordHeadCell	{color: #005992; font-size: 1.4em; font-weight: bold; background-color: lightgray; line-height: 1.7em; vertical-align: bottom; padding: 4px 4px 0px 4px; }

#div_plannedSchedule table {width: auto;}
#div_plannedSchedule table th,
#div_plannedSchedule table td {margin: 0px; padding: 2px 7px;}
#div_plannedSchedule table td input {margin-top: 0px; margin-bottom: 0px;}

#div_tenderedCostWBS table {width: auto;}
#div_tenderedCostWBS table th,
#div_tenderedCostWBS table td {margin: 0px; padding: 2px 7px;}
#div_tenderedCostWBS table td input {margin-top: 0px; margin-bottom: 0px; text-align:right;}

#div_tenderedCostMonth table {width: auto;}
#div_tenderedCostMonth table th,
#div_tenderedCostMonth table td {margin: 0px; padding: 2px 7px;}
#div_tenderedCostMonth table td input {margin-top: 0px; margin-bottom: 0px; text-align:right;}

TABLE.WorkPackageClass TR,
TABLE.WorkPackageClass TD,
TABLE.WorkPackageClass input { vertical-align: middle; text-align: center; float: none; margin: 0px auto 0px auto; padding: 3px 6px; }
TABLE.WorkPackageClass caption {text-align: left;}

TR.MWCenteredHead th {color: #005992; vertical-align: bottom; margin: 0px auto; text-align: center; border-bottom: 1px solid darkgray;}
TR.MWBorderTop td { border-top: 1px solid darkgray;}

input[type="submit"],
button		{ background-color:transparent;}

.commentClass {  white-space: pre;  white-space: pre-wrap;  word-wrap: break-word; }

.HDSortHead	{ color: #00b4cc; font-size: 1.5em; padding-top: 0.8em; background-color: lightgray;}

/*Change widths as necessary
------------------------------------------- */

/* MOBILE PORTRAIT */
@media only screen and (min-width: 300px) {

	#div_WorkPackage input,
	#div_WorkPackage th,
	#div_WorkPackage td {font-size: 0.7em;}
}

/* MOBILE LANDSCAPE */
@media only screen and (min-width: 480px) {

	#div_WorkPackage input,
	#div_WorkPackage th,
	#div_WorkPackage td {font-size: 0.7em;}
}

/* SMALL TABLET */
@media only screen and (min-width: 600px) {

	#div_WorkPackage input,
	#div_WorkPackage th,
	#div_WorkPackage td {font-size: 0.7em;}
}

/* TABLET/NETBOOK */
@media only screen and (min-width: 768px) { 

	#div_WorkPackage input,
	#div_WorkPackage th,
	#div_WorkPackage td {font-size: 0.75em;}
}

/* LANDSCAPE TABLET/NETBOOK/LAPTOP */
@media only screen and (min-width: 1024px) { 

	#div_WorkPackage input,
	#div_WorkPackage th,
	#div_WorkPackage td {font-size: 0.8em;}
}

@media only screen and (min-width: 1280px) { 
/* DESKTOP */

	#div_WorkPackage input,
	#div_WorkPackage th,
	#div_WorkPackage td {font-size: 0.9em;}
}

/* WIDESCREEN */
/* Increased body size for legibility */
@media only screen and (min-width: 1400px) { 

	#div_WorkPackage input,
	#div_WorkPackage th,
	#div_WorkPackage td {font-size: 1em;}
}
