html,
body,
body div,
object,
iframe,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 12px;
  vertical-align: middle;
  background: transparent;
}
h1 {	margin: 10px 0 5px 10px;	padding-bottom: 8px;	color: #025A8D;	font-size: 1.818em;}
h2 {margin: 0 0 0 20px;	padding-top: 10px;	color: #005992;	font-size: 18px;} /* padding-bottom: 8px; AG 2013-05-13 removed due to stretching the button bar in the procedure*/
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html {
  background: #f9f9f9;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: auto;
  width: 96%;
  min-width: 300px;
  padding: 0;
  font-family: Helvetica, Arial;
  font-size: 100%;
  line-height: 1.5em;
  color: #444;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.visuallyhidden {
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}
.floatleft {
  float:left;
  margin:0 30px 20px 0;
  margin:0 3rem 2rem 0;
}
.floatright {
  float:right;
  margin:0 0 20px 30px;
  margin:0 0 2rem 3rem;
}
.desktop {
  display: none;
}

h2,
h3,
h4,
h5,
h6 {
  font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  text-rendering: optimizelegibility;
  font-weight:400;
}
h2 {  font-size: 24px;  font-size: 2.4rem;  line-height: 1.2;} /*  margin-bottom: 0.75em; AG 2013-05-13 removed due to stretching button bar on procedure page*/
h3 {
  margin-bottom: 1em;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.3;
}
h4{
  margin-bottom: 1.5em;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25;
}
h5 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.5em;
}
h6 {
  margin-bottom: 1.5em;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
}
ul,
ol {
  margin: 0 0 1.5em 0;
  padding: 0 0 0 24px;
}
li ul,
li ol {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}
blockquote {
  margin: 0 0 1.5em 0;
  padding-left: 24px;
  border-left: 3px solid #ddd;
  font-family: Cambria, Georgia, serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-style: italic;
}
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
dl {
  margin-bottom: 1.5em;
}
b,
strong {
  font-weight: bold;
}
pre,
code,
kbd,
samp,
.warning,
.error,
#systemMessage {
  font-family: Monaco, Courier New, monospace;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

a {
  text-decoration: none;
  color: #008c9e;
}
a:visited {
  color: #008c9e;
}
a:hover {
  text-decoration: underline;
  color: #00b4cc;
}
a:focus {
  outline: thin dotted;
  color: #00b4cc;
}
a:hover,
a:active {
  outline: 0;
  cursor: pointer; cursor: hand;
}
::-moz-selection {
  background-color: #d6dbe1;
  color: #2d353e;
  text-shadow: none;
}
::selection {
  background-color: #d6dbe1;
  color: #2d353e;
  text-shadow: none;
}

img {
  width: 100%;
  height: auto;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin-bottom:1.5em;
}
figure figcaption {
  display: block;
  font-weight: normal;
  font-size: 12px;
  font-size: 1.2rem;
  color: #777;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    /*margin-bottom: 1.5em;  AG 2013-05-13 Removed due to spacing out areas across the site*/
 /*   width: 100%; */
}
th,
td,
caption {
    padding: 0.25em .5em;
  text-align:left;
}
tfoot {
    font-style: italic
}
caption {
    background-color: transparent
}
tbody tr {
  border: 0px solid #eee;
}

input,
select,
fieldset textarea,
fieldset select,
fieldset img,
fieldset button {	float: left;	width: auto;	margin: 5px 5px 5px 0px;}
fieldset {	margin-bottom: 10px;	border: 1px #ccc solid;	padding: 5px;	text-align: left;}
legend {	color: #146295;	font-size: 1.182em;	font-weight: bold;}

#form1 .button-holder {	margin-left:90px;}
#form1 .button-holder p {margin-top:4px!important;	margin-bottom:7px;	display:block ;	float: left; clear:both;}
/* -- OVERALL STYLES ----------------------------- */
/* Header */
#header-box {	border: none;	background: none;}
.clr {clear: both; overflow: hidden; height: 2px!important;}

/* Footer */
#footer {float:left; width: 40%; background: none!important; height: 50px;}
#footer .copyright { font-size: 10px; margin: 20px 10px 10px 20px;	text-align: left;	line-height: 160%;	color: #0068b3; background: none!important;}
#footer .copyright em { font-size: 8px; vertical-align: super;}
#footer .copyright a{font-weight: bold;	color: #0068b3;}
#footer .version {	margin: 10px;	text-align: center;}
p.footer-tip {	margin-top: 15px;}
#logo {width: 180px;float: right; margin: 0px; padding-right: 10px; background: none!important; margin-top: 18px; height:50px !important;}
#logoAustin {width: 180px;float: right; margin: 0px; padding-right: 10px; background: none!important; margin-top: 8px; height:50px !important;}

#message {font-family: Arial, Helvetica, sans-serif;	font-size: 1.091em;	padding: 0px;	height: 40px;	margin: 0!important;	
          border-top: 1px solid #cccccc;	border-left: 1px solid #cccccc;	border-right: 1px solid #cccccc;	color: #000;	font-weight: bold;}
#message p {	padding: 13px 0 0 60px;}
#message ul {white-space: nowrap; height:40px;  }
#message li { background: none; margin-left: 5px; float: left;}

div.error {background: url(../images/error-message-bg.jpg) repeat-x; width: 100%; margin: 0px;}
div.success {background: url(../images/success-message-bg.jpg) repeat-x; width: 100%; margin: 0px;}

#message1 {		font-family: Arial, Helvetica, sans-serif;	font-size: 1.091em;	padding: 0px;	height: 40px;	margin: 0!important;	
           		border-top: 1px solid #cccccc;	border-left: 1px solid #cccccc;	border-right: 1px solid #cccccc;color: #000;	font-weight: bold;}
#message1 ul {white-space: nowrap; height:40px;  }
#message1 li { background: none; margin-left: 5px; float: left;}

div.error1 {background: url(../images/error-message-bg.jpg) repeat-x; width: 100%; margin: 0px;}

/* -- TABLE STYLES ----------------------------- */
div#element-box div.m form table.adminlist tr td a {	font-size: 1.1em;}
div#element-box div.m form table.adminlist tr td div.button2-left.smallsub a {	font-size: 1em;}
div#element-box div.m form table.adminlist tr td p.smallsub a,
div#element-box div.m div.pane-slider form table.adminlist a {	font-size: 1em;}
	
/* -- LOGIN STYLES ----------------------------- */
.login-submit {	border: 0;	padding: 0;	margin: 0;	width: 0px;	height: 0px;}
#form-login .button-holder {clear:both;	float: left;	padding-left: 27px;	margin-top: 0!important;	width: 160px;}
#form-login .button-holder p {	margin-left: 53px;	float:right;	margin-top:4px!important;	margin-bottom:7px;}
p#login-error-message {}
#border-top.login {	background: url(../images/login-header-bg.jpg) repeat-x;	height: 68px;	padding-bottom: 0px;	border-bottom: solid 1px #cccccc;} /* AG 2013-05-14 Changed to height 64px from 68px to match pattern size*/
#border-top.login div {	background: url(../images/login-header-bg_right.jpg) 100% 0 no-repeat;}
#border-top.login div div {	background: url(../images/login-header-bg_left.jpg) no-repeat;	height: 68px;}
#border-top.login h1{float:left;	font-size: 30px;	font-weight: normal; line-height: 40px;	padding: 6px 0 0 20px;} /* AG 02/05/2013 REMOVED color: #005992; SINCE INHERITS FROM MAIN (#border-top h1)*/
/*#border-top h1 span{	color: #058ff2;}*/
#bottomlogin{background: url(../images/footer-bg.png) repeat-x; height: 68px; border-right: #ccc 1px solid; border-left: #ccc 1px solid;}
/*.login {width: 100%; *padding-left: 2px;}*/
/*.login a {color: #0068b3;}*/ /*.login a {color: #0068b3;} */ /* AG 02/05/2013 REMOVED THIS COLOUR SINCE CAN INHERIT FROM (a)*/
form#form-login {	clear: both;	padding: 10px 0 10px 0;}
.login-button,
.login-button div {	height: 1%;	float: left;}
.login-button {	background: url(../images/button-bg.jpg) 100% 0  no-repeat;	white-space: nowrap;	padding-left: 10px;	margin-right: 24px;	margin-top: 0px;	margin-bottom: 10px;	float:right;}

/*Added by Sasikanth*/
#border-top1.requests_small {	background: url(../images/login-header-bg.jpg) repeat-x;	height: 40px;	padding-bottom: 1px;	border-bottom: solid 1px #cccccc;}
#border-top1.requests_small div {	background: url(../images/login-header-bg_right-bg.jpg) 100% 0 no-repeat;}
#border-top1.requests_small h3{float:left;	font-size: 20px;	font-weight: normal;	color: #005992;	line-height: 22px;	padding: 0px 0 0 20px;}
#border-top1.requests_small div div {	background: url(../images/login-header-bg_left.jpg) no-repeat;	height: 38px;}
#border-top1 h3 span{	color:#058ff2;}
#border-bottom1.requests_small {	clear: both;	background: url(../images/footer-bg.jpg) repeat-x;	height: 40px;	margin-top: 0px;}
#border-bottom1.requests_small div {	background: url(../images/footer-right-bg.jpg) 100% 0 no-repeat;}
#border-bottom1.requests_small div div {	background: url(../images/footer-left-bg.jpg) no-repeat;height: 40px;}
/*#border-top h1 span{	color: #058ff2;}*/
#border-bottom.requests {	clear: both;	background: url(../images/footer-bg.jpg) repeat-x;	height: 68px;	margin-top: 0px;}
#border-bottom.requests div {	background: url(../images/footer-right-bg.jpg) 100% 0 no-repeat;}
#border-bottom.requests div div {	background: url(../images/footer-left-bg.jpg) no-repeat;	height: 68px;}
.requests  {	margin: 0px;	}/*width: 750px; */
.requests_small  {	margin: 0px;	width: 450px;	}
form#form-login {	clear: both;	padding: 10px 0 10px 0;}
.login-button,
.login-button div {	height: 1%;	float: left;}
.login-button {	background: url(../images/button-bg.jpg) 100% 0  no-repeat;	white-space: nowrap;	padding-left: 10px;	margin-right: 24px;	margin-top: 0px;	margin-bottom: 10px;	float:left;}
.login-button a:hover {	text-decoration: none;	color: #058ff2;}
#requests-pending-submit {clear: both; height: 130px; background: none!important; border: none; margin: 0 0 0 20px;}
#requests-pending-submit input {width:auto; height: 32px; float: left; padding: 15px 20px 0 0; background: none!important; border: none!important;}
#requests-box h2 {	margin: 0 0 0 20px;	padding-top: 30px;	padding-bottom: 8px;	color: #000000;	font-size: 22px;}
#requests-box h2 span {	color: #eb2c00;	font-size: 22px;}

/*---------------------------*/
#section-box {	float: left;	width: 300px;	margin-top: 0px; background: none!important;}
#section-box input {margin-top: 1px!important;}
#section-box label {width: auto; padding-top: 2px;}
#content-box .m {float: none; padding: 5px;	height: auto}
/* #content-box .padding {	background: none;	padding: 0;} */

#lock {	background: url(../images/j_login_lock.png) 50% 0 no-repeat;	width: 150px;	height: 137px;}
fieldset.loginform {	border: 0 none;	width: 400px!important; font-family:Arial; padding-left:16px; }
label#mod-login-password-lbl,
label#mod-login-username-lbl,
label#mod-login-language-lbl {	display:block;	margin:5px 15px 16px 0;}
input#mod-login-username,
input#mod-login-password,
select#lang {	float:right;	margin: 0 0 20px 0;	clear:right;	min-width: 145px;}
#submit-form-bar {height: 65px; background: url(../images/submit-bar-bg.jpg) repeat-x ; border: solid 1px #cccccc; margin:0!important; padding:0!important;}
#submit-form-bar input {width:auto; height: 32px; float: right;  margin:0!important;  padding: 15px 20px 0 0; background: none!important; border: none!important;}

/* MASTER HEADER */
#border-top h2 {text-align:center;}
#border-top.h_blue {	background: url(../images/footer-bg.jpg) repeat-x;	height: 68px;	margin-bottom: 8px; border-left:solid 1px #ccc; border-right:solid 1px #ccc;}
/* replaced the following two classes with static borders on the border-top.h_blue */
/*#border-top.h_blue div {	background: url(../images/header-right-bg.jpg) 100% 0 no-repeat; }
#border-top.h_blue div div {	background: url(../images/header-left-bg.jpg) no-repeat; } /*	height: 75px;} */
div.header-toolbar {	float: right;	text-align: right; padding: 10px 0px 0px 0px; height: 65px!important; margin-top: 2px!important;  background: white;	} /*  background: none !important; REMOVED FROM HEADER IN SLADE TO ALLOW BACKGROUND OF CHILD OBJECTS*/
#border-top h1 {float:left;	font-size: 20px;	font-weight: normal;	color: #005992;	line-height: 24px;	padding: 10px 0 0 20px; white-space: nowrap; display:block;}
#border-top h1 span{font-size: 20px;	color: #058ff2;}
div.header-toolbar li {	padding: 1px 1px 3px 4px;	text-align: center;	color: #025A8D;	list-style: none;	float: left!important;}
.PageBanner {float:right; color: #005992;font-size: 16px;font-weight: bold;line-height: 26px; width:40%; white-space: nowrap;}

/* GENERAL CLASS ADDERS */
.Browser-Margin-2 {/* Placeholder for IE6,7 etc */}
.DisplayNone {display:none !important;}
.DisplayBlock {display:block !important;}
.DisplayInline {display: inline !important;}
.FloatRight {float: right;}
.FloatLeft {float: left;}
.Text-alignCenter { text-align: center !important;}
.Text-alignRight { text-align: right !important;}
.Padding0 {padding: 0px;}
.Padding5 {padding: 5px;}
.Padding10 {padding: 10px;}
.Padding20 {padding: 20px;}
.PadLeft5 {padding-left:5px;}
.PadLeft10 {padding-left:10px;}
.PadLeft20 {padding-left:20px;}
.PadRight5 {padding-right:5px;}
.PadRight10 {padding-right:10px;}
.PadRight20 {padding-right:20px;}
.MargTop-5 {margin-top:-5px;}
.MargTop5 {margin-top:5px;}
.MargTop7 {margin-top:7px;}
.MargTop10 {margin-top:10px;}
.MargRight5 {margin-right:5px;}
.MargLeft5 {margin-left:5px;}
.MargLeft20 {margin-left:20px;}
.MargBot10 {margin-bottom:10px;}
.MargAuto {margin: auto;}
.MaxHeight400px { max-height: 400px;}
.Top0 { top:0px;}
.PadBottom2 {margin-bottom:2px;}
.PadBottom10 {margin-bottom:10px;}
.OverflowHidden { overflow:hidden;}
.OverflowYScroll { overflow-Y:scroll;}
.BorderNone { border-style:none; border-width:0px; border-color:white;}
.BorderTemplate { border: solid 1px gray;}
.Border-Spacing0 { border-spacing:0px;}
.Border-Spacing5 { border-spacing:5px;}
.width-400 { width:400px!important}
.Vertical-AlignTop { vertical-align:top}
.Vertical-AlignMiddle { vertical-align:middle}

/* -- FORM STYLES ----------------------------- */

/* Standards for commonly used elements */
div.width-10	{width: 10%;}
div.width-20	{width: 20%;}
div.width-30	{width: 30%;}
div.width-35	{width: 35%;}
div.width-40	{width: 40%;}
div.width-45-inactive	{width: 42%; margin: 10px 10px 0 30px;}
div.width-45	{width: 42%; margin: 10px 10px 0 30px;}
div.width-50	{width: 450px;}
div.width-55	{width: 500px;}
div.width-60	{width: 60%;}
div.width-65	{width: 65%;}
div.width-70	{width: 70%;}
div.width-80	{width: 80%;}
div.width-90	{width: 90%; margin: 10px 10px 0 30px;}
div.width-100	{width: 100%;}

.clrlft		{clear: left;}
.clrrt		{clear: right;}
.fltlft		{float: left;}
.fltrt		{float: right;}
.fltrt		{float: right;}
.fltnone	{float: none;}
.nowrap		{white-space: nowrap;}

div.width-20 fieldset,
div.width-30 fieldset,
div.width-35 fieldset,
div.width-40 fieldset,
div.width-50 fieldset,
div.width-55 fieldset,
div.width-60 fieldset,
div.width-65 fieldset,
div.width-70 fieldset,
div.width-80 fieldset,
div.width-100 fieldset	{	background-color: #fff;	padding: 30px 17px 17px 10px;}
div.width-90 fieldset {	background-color: #f4f4f4;	padding: 10px 17px 17px 10px;}
div.width-45 fieldset {	background-color: #f4f4f4;	padding: 10px 17px 17px 10px;}
div.width-45-inactive fieldset {	filter:alpha(opacity=30);	-moz-opacity:0.3;	-khtml-opacity: 0.3;	opacity: 0.3;	background-color: #f4f4f4;	padding: 10px 17px 17px 10px;}

.width-20px	{width: 20px;}
.width-30px	{width: 30px;}
.width-35px	{width: 35px;}
.width-40px	{width: 40px;}
.width-45px	{width: 45px;}
.width-50px	{width: 50px;}
.width-55px	{width: 55px;}
.width-60px	{width: 60px;}
.width-65px	{width: 65px;}
.width-70px	{width: 70px;}
.width-80px	{width: 80px;}
.width-100px{width: 100px;}

.height-1px	{height: 1px;}
.height-400px	{height: 400px;}

.LineHeight32px {line-height: 32px;}

/* Top-Menu-bar */
.requests_pending_status {	float: left;	background: none!important;}
.requests_pending_status span {	line-height: 27px;	height:26px;padding:  4px 10px 0 32px;	background-position:left center ;}
.requests_pending_status span span {padding:  4px 10px 0 6px;}
.requests_pending_status .requests-pending {background: url(../images/menu/icon-16-requests.jpg) 10px 3px no-repeat;	color: #ea4016;}
#module-menu.h_blue {background: url(../images/module-menu-top-bg.jpg) repeat-x; height: 27px;	padding-bottom: 0px;}
#module-menu.h_blue div {background: url(../images/module-menu-top_r-bg.jpg) 100% 0 no-repeat;}
#module-menu.h_blue div div {background: url(../images/module-menu-top_left-bg.jpg) no-repeat; height: 27px;}
#module-status {	float: right;	background: none!important; padding-top:1px;  cursor: pointer; }
#module-status a {	display: block;	float: left;	line-height: 16px;	padding: 4px 10px 0 22px;	margin-bottom: 5px; cursor: pointer;}
#module-status .admin-users { background: url(../images/menu/icon-16-user.png) 3px 3px no-repeat; }
#module-status .admin-user {background: url(../images/menu/icon-16-user.png) 3px 3px no-repeat;}
#module-status .backloggedin-users {background: url(../images/menu/icon-16-back-user.png) 3px 3px no-repeat;}
#module-status .Home-users {background: url(../images/menu/icon-16-home.png) 3px 3px no-repeat;}
#module-status .logout {	background:url(../images/menu/icon-16-logout.png) 3px 3px no-repeat; }
#module-unread span {	color: black;	text-decoration: none;}

/* TOP MENU BAR TEMPLATE */
#border-top-bar.bar {	background: url(../images/login-header-bg.jpg) repeat-x;	height: 68px;  border-right: none; border-top: none; }
/*#border-top-bar.bar div {	background: url(../images/login-header-bg_right-bg.jpg) 100% 0 no-repeat; height:68px; }
#border-top-bar.bar div div {	background: url(../images/login-header-bg_left.jpg) no-repeat;	height: 68px;} */
#border-top-bar.bar h1 {float:left;	font-size: 30px;	font-weight: normal;	color: #005992;	line-height: 32px;	padding: 10px 0 0 20px;}
#border-top-bar.bar .user-toolbar {  border-top: none; border-bottom: none; }

/* MASTER FOOTER */
#border-bottom {clear: both;	background: url(../images/footer-bg.jpg) repeat-x;	height: 68px;	margin-top: 15px;}
#border-bottom div {	background: url(../images/footer-right-bg.jpg) 100% 0 no-repeat;}
#border-bottom div div {	background: url(../images/footer-left-bg.jpg) no-repeat;	height: 68px;}

/* POWERED BY*/
.smallDALogo {width: 60px; height: 12px;}
#tablePoweredBy {float: none; width: 100%;}
#tablePoweredBy TD {padding-left: 0px; padding-right: 0px; font-size: 0.8em;}
.appVersion {text-align: right; font-style: italic;}

/* ALL POPUPS */
.modalBackground {	background-color:Gray;	filter:alpha(opacity=70);	opacity:0.7;}	/* fades out the background of each page when popups are called */

.WidthAuto { min-width: 700px; } /* Reserved for IE7 & IE6 */
.Popup-Header {	background: url(../images/login-header-bg.jpg) repeat-x; height: 68px;} /*  border-right: none; border-top: none;  */
.Popup-Header div {	 } /*    height:68px;    background: url(../images/login-header-bg_right-bg.jpg) 100% 0 no-repeat; */
.Popup-Header div div {}  /*  	height: 68px;	background: url(../images/login-header-bg_left.jpg) no-repeat;  */
.Popup-Header h1{float:left;	font-size: 30px;	font-weight: normal;	color: #005992;	padding: 10px 0 0 1px;} /* line-height: 32px;	 */
.Popup-Header .Popup-Header-Toolbar { } /*  border-top: none; border-bottom: none; }*/

.Popup-Header-Toolbar {	float: right;	text-align: center;	padding: 0px 10px 0px 20px;	background: none !important;} /*  height: 50px!important;  width: 300px; */
.Popup-Header-Toolbar a {float:right;	white-space: nowrap; padding: 10px 2px;	cursor: pointer; }
.Popup-Header-Toolbar a:hover,
.Popup-Header-Toolbar a:focus, 
.Popup-Header-Toolbar a:active {	text-decoration: none;	color: #0B55C4;}
.Popup-Header-Toolbar span {	float: none;	width: 38px;	height: 32px;	margin: 0 auto;	display: block; background-repeat:no-repeat; background-position: center top;}
.Popup-Header-Toolbar .disabled { opacity:0.6;}

/* ALL COMBOBOX (AJAX) */
.CBX-PositonCorrect {} /*  margin-top: -5px; margin-bottom: 5px; */
.ajax__combobox_inputcontainer { top:0px !important;  height: 20px !important; }


/* -- TOOLBAR STYLES ----------------------------- */
/* Page titles */
div.pagetitle {	height: 48px;	padding-left: 70px;	background-repeat: no-repeat;	background-position: 10px 0px;	display: table-cell;	vertical-align: middle;}
div.pagetitle h2 {	line-height: 24px;	font-size: 1.7em;	font-weight: bold;	color: #146295;	margin: 0;	padding: 0;}
div.pagetitle span {	color: #666;}

/* Modal header */
div.configuration {	font-size: 1.364em;	font-weight: bold;	color: #146295;	padding-left: 30px;	margin-left: 10px;	padding-top: 4px;	background: url(../images/menu/icon-16-config.png) 0 6px no-repeat;}
div.header-toolbar ul {float: right;	margin: 0;	padding: 0;}
div.header-toolbar li.spacer {	width: 10px;}
div.header-toolbar li.divider {}
div.header-toolbar span {	float: none;	width: 32px;	height: 32px;	margin: 0 auto;	display: block;}
div.header-toolbar a {	display: block;	float: left;	white-space: nowrap;	padding: 1px 5px;	cursor: pointer;}
/*div.header-toolbar a:hover,
div.header-toolbar a:focus, 
div.header-toolbar a:active {	text-decoration: none;	color: #0B55C4;}*/  /*AG 02/05/2013 REMOVED SO THAT BUTTON LABLES COULD INHERIT COLOURS FROM GENERIC LINKS (a)*/

#breadcrumb {padding: 13px 0 0 15px;height: 30px;}
#breadcrumb img{padding: 0px 10px 0 0;vertical-align: text-bottom;}
#breadcrumb span{font-size: 14px;padding-left: 10px;line-height: 30px;}

/* Main toolbars */
div.toolbar-list {	float: left;	text-align: right;	padding: 0 0 0 20px;}
div.toolbar-list ul {	margin: 0;	padding: 0;}
div.toolbar-list li {	padding: 1px 1px 3px 4px;	text-align: center;	color: #666;	height: 48px;	list-style: none;	float: left!important ;}
div.toolbar-list li.spacer {	width: 10px;}
div.toolbar-list li.divider {	border-right: 1px solid #c7c7c7;	width: 2px;}
div.toolbar-list span {	float: none;	width: 32px;	height: 32px;	margin: 0 auto;	display: block;}
div.toolbar-list a {	display: block;	float: left;	white-space: nowrap;	border: 1px solid #F4F4F4;	padding: 1px 5px;	cursor: pointer;}
div.toolbar-list a:hover,
div.toolbar-list a:focus, 
div.toolbar-list a:active {	border-left: 1px solid #eee;	border-top: 1px solid #eee;	border-right: 1px solid #ccc;	border-bottom: 1px solid #ccc;	text-decoration: none;	color: #0B55C4;}

/* -- PANE SLIDER STYLES ----------------------------- */
.pane-sliders {	margin: 18px 0 0 0;	position:relative}
.pane-sliders .title {	margin: 0;	padding: 2px 2px 2px 5px;	color: #666;	cursor: pointer;}
#content-pane {	margin: 8px 10px 15px 15px;}
.pane-sliders .panel {	margin-bottom: 3px;	border:solid 1px #ccc}
.pane-sliders .panel h3 {	background: #fafafa;	color: #666}
.pane-sliders .content {	background: #fff;}
.pane-sliders .adminlist {	border: 0 none;	font-size: 1em;}
.pane-sliders .adminlist td {	border: 0 none;}
.pane-toggler span {	background: transparent url(../images/j_arrow.png) 5px 50% no-repeat;	padding-left: 20px;}
.pane-toggler-down span {	background: transparent url(../images/j_arrow_down.png) 5px 50% no-repeat;	padding-left: 20px;}
.pane-toggler-down {	border-bottom: 1px solid #ccc;}
h3.pane-toggler-down a:hover,
h3.pane-toggler a:hover {	text-decoration: none;}
.pane-slider.pane-hide {	display: none;}
.pane-slider ol li {	list-style: none;	margin-left: -25px;	margin-top: 10px;}

input#jformparams_link_titles1,
input#jformparams_show_title1,
input#jformparams_link_category1 {	margin-left: 13px;}

div#position-icon.pane-sliders div.pane-down div.icon-wrapper {	margin: 5px 0 5px 0;}
div#position-icon.pane-sliders div.pane-down .icon-wrapper .icon {	padding: 5px 0 5px 10px;	margin: 0;}
div#position-icon.pane-sliders .icon {	background: #fff;}


/* -- ICON STYLES ----------------------------- */
.icon-16-add						{	background-image: url(../images/menu/icon-16-add.png); width: 16px; height: 16px; display: block;	}
.icon-16-alert						{	background-image: url(../images/menu/icon-16-alert.png); width: 16px; height: 16px; display: block;	}
.icon-16-archive					{	background-image: url(../images/menu/icon-16-archive.png); width: 16px; height: 16px; display: block;	}
.icon-16-article					{	background-image: url(../images/menu/icon-16-article.png); width: 16px; height: 16px; display: block;	}
.icon-16-banners					{	background-image: url(../images/menu/icon-16-banner.png); width: 16px; height: 16px; display: block;	}
.icon-16-banners-clients			{	background-image: url(../images/menu/icon-16-banner-client.png); width: 16px; height: 16px; display: block;	}
.icon-16-banners-tracks				{	background-image: url(../images/menu/icon-16-banner-tracks.png); width: 16px; height: 16px; display: block;	}
.icon-16-banners-cat				{	background-image: url(../images/menu/icon-16-banner-categories.png); width: 16px; height: 16px; display: block;	}
.icon-16-category					{	background-image: url(../images/menu/icon-16-category.png); width: 16px; height: 16px; display: block;	}
.icon-16-checkin					{	background-image: url(../images/menu/icon-16-checkin.png); width: 16px; height: 16px; display: block;	}
.icon-16-clear						{	background-image: url(../images/menu/icon-16-clear.png); width: 16px; height: 16px; display: block;	}
.icon-16-component					{	background-image: url(../images/menu/icon-16-component.png); width: 16px; height: 16px; display: block;	}
.icon-16-config						{	background-image: url(../images/menu/icon-16-config.png); width: 16px; height: 16px; display: block;	}
.icon-16-content					{	background-image: url(../images/menu/icon-16-content.png); width: 16px; height: 16px; display: block;	}
.icon-16-contact					{	background-image: url(../images/menu/icon-16-contacts.png); width: 16px; height: 16px; display: block;	}
.icon-16-contact-cat				{	background-image: url(../images/menu/icon-16-contacts-categories.png); width: 16px; height: 16px; display: block;	}
.icon-16-contract					{	background-image: url(../images/menu/icon-16-contract.png); width: 16px; height: 16px; display: block;	}
.icon-16-cpanel						{	background-image: url(../images/menu/icon-16-cpanel.png); width: 16px; height: 16px; display: block;	}
.icon-16-cross-square				{	background-image: url(../images/menu/icon-16-cross-square.png); width: 16px; height: 16px; display: block;	}
.icon-16-default					{	background-image: url(../images/menu/icon-16-default.png); width: 16px; height: 16px; display: block;	}
.icon-16-deny						{	background-image: url(../images/menu/icon-16-deny.png); width: 16px; height: 16px; display: block;	}
.icon-16-featured					{	background-image: url(../images/menu/icon-16-featured.png); width: 16px; height: 16px; display: block;	}
.icon-16-groups						{	background-image: url(../images/menu/icon-16-groups.png); width: 16px; height: 16px; display: block;	}
.icon-16-help						{	background-image: url(../images/menu/icon-16-help.png); width: 16px; height: 16px; display: block;	}
.icon-16-hold						{	background-image: url(../images/menu/icon-16-hold.png); width: 16px; height: 16px; display: block;	}
.icon-16-help-this					{	background-image: url(../images/menu/icon-16-help-this.png); width: 16px; height: 16px; display: block;	}
.icon-16-help-forum					{	background-image: url(../images/menu/icon-16-help-forum.png); width: 16px; height: 16px; display: block;	}
.icon-16-help-docs					{	background-image: url(../images/menu/icon-16-help-docs.png); width: 16px; height: 16px; display: block;	}
.icon-16-help-jed					{	background-image: url(../images/menu/icon-16-help-jed.png); width: 16px; height: 16px; display: block;	}
.icon-16-help-jrd					{	background-image: url(../images/menu/icon-16-help-jrd.png); width: 16px; height: 16px; display: block;	}
.icon-16-help-trans					{	background-image: url(../images/menu/icon-16-help-trans.png); width: 16px; height: 16px; display: block;	}
.icon-16-help-community				{	background-image: url(../images/menu/icon-16-help-community.png); width: 16px; height: 16px; display: block;	}
.icon-16-help-security				{	background-image: url(../images/menu/icon-16-help-security.png); width: 16px; height: 16px; display: block;	}
.icon-16-help-dev					{	background-image: url(../images/menu/icon-16-help-dev.png); width: 16px; height: 16px; display: block;	}
.icon-16-help-shop					{	background-image: url(../images/menu/icon-16-help-shop.png); width: 16px; height: 16px; display: block;	}
.icon-16-info						{	background-image: url(../images/menu/icon-16-info.png); width: 16px; height: 16px; display: block;	}
.icon-16-install					{	background-image: url(../images/menu/icon-16-install.png); width: 16px; height: 16px; display: block;	}
.icon-16-language					{	background-image: url(../images/menu/icon-16-language.png); width: 16px; height: 16px; display: block;	}
.icon-16-left						{	background-image: url(../images/menu/icon-16-left.png); width: 16px; height: 16px; display: block;	}
.icon-16-levels						{	background-image: url(../images/menu/icon-16-levels.png); width: 16px; height: 16px; display: block;	}
.icon-16-logout						{	background-image: url(../images/menu/icon-16-logout.png); width: 16px; height: 16px; display: block;	}
.icon-16-maintenance				{	background-image: url(../images/menu/icon-16-maintenance.png); width: 16px; height: 16px; display: block;	}
.icon-16-massmail					{	background-image: url(../images/menu/icon-16-massmail.png); width: 16px; height: 16px; display: block;	}
.icon-16-media						{	background-image: url(../images/menu/icon-16-media.png); width: 16px; height: 16px; display: block;	}
.icon-16-menu						{	background-image: url(../images/menu/icon-16-menu.png); width: 16px; height: 16px; display: block;	}
.icon-16-menumgr					{	background-image: url(../images/menu/icon-16-menumgr.png); width: 16px; height: 16px; display: block;	}
.icon-16-requests					{	background-image: url(../images/menu/icon-16-requests.png); width: 16px; height: 16px; display: block;	}
.icon-16-messages-add				{	background-image: url(../images/menu/icon-16-new-privatemessage.png); width: 16px; height: 16px; display: block;	}
.icon-16-messages-read				{	background-image: url(../images/menu/icon-16-messages.png); width: 16px; height: 16px; display: block;	}
.icon-16-module						{	background-image: url(../images/menu/icon-16-module.png); width: 16px; height: 16px; display: block;	}
.icon-16-newarticle					{	background-image: url(../images/menu/icon-16-newarticle.png); width: 16px; height: 16px; display: block;	}
.icon-16-newcategory				{	background-image: url(../images/menu/icon-16-newcategory.png); width: 16px; height: 16px; display: block;	}
.icon-16-newgroup					{	background-image: url(../images/menu/icon-16-newgroup.png); width: 16px; height: 16px; display: block;	}
.icon-16-newlevel					{	background-image: url(../images/menu/icon-16-newlevel.png); width: 16px; height: 16px; display: block;	}
.icon-16-newuser					{	background-image: url(../images/menu/icon-16-newuser.png); width: 16px; height: 16px; display: block;	}
.icon-16-notice						{	background-image: url(../images/menu/icon-16-notice.png); width: 16px; height: 16px; display: block;	}
.icon-16-paperclip					{	background-image: url(../images/menu/icon-16-paperclip.png); width: 16px; height: 16px; display: block;	}
.icon-16-play						{	background-image: url(../images/menu/icon-16-play.png); width: 16px; height: 16px; display: block;	}
.icon-16-plugin						{	background-image: url(../images/menu/icon-16-plugin.png); width: 16px; height: 16px; display: block;	}
.icon-16-profile					{	background-image: url(../images/menu/icon-16-user.png); width: 16px; height: 16px; display: block;	}
.icon-16-purge						{	background-image: url(../images/menu/icon-16-purge.png); width: 16px; height: 16px; display: block;	}
.icon-16-readmess					{	background-image: url(../images/menu/icon-16-readmess.png); width: 16px; height: 16px; display: block;	}
.icon-16-redirect					{	background-image: url(../images/menu/icon-16-redirect.png); width: 16px; height: 16px; display: block;	}
.icon-16-requests					{	background-image: url(../images/menu/icon-16-requests.png); width: 16px; height: 16px; display: block;	}
.icon-16-right						{	background-image: url(../images/menu/icon-16-right.png); width: 16px; height: 16px; display: block;	}
.icon-16-scripts					{	background-image: url(../images/menu/icon-16-scripts.png); width: 16px; height: 16px; display: block;	}
.icon-16-scripts-open				{	background-image: url(../images/menu/icon-16-scripts-open.png); width: 16px; height: 16px; display: block;	}
.icon-16-search						{	background-image: url(../images/menu/icon-16-search.png); width: 16px; height: 16px; display: block;	}
.icon-16-section					{	background-image: url(../images/menu/icon-16-section.png); width: 16px; height: 16px; display: block;	}
.icon-16-static						{	background-image: url(../images/menu/icon-16-static.png); width: 16px; height: 16px; display: block;	}
.icon-16-stats						{	background-image: url(../images/menu/icon-16-stats.png); width: 16px; height: 16px; display: block;	}
.icon-16-themes						{	background-image: url(../images/menu/icon-16-themes.png); width: 16px; height: 16px; display: block;	}
.icon-16-tick						{	background-image: url(../images/menu/icon-16-tick.png); width: 16px; height: 16px; display: block;	}
.icon-16-trash						{	background-image: url(../images/menu/icon-16-trash.png); width: 16px; height: 16px; display: block;	}
.icon-16-user						{	background-image: url(../images/menu/icon-16-user.png); width: 16px; height: 16px; display: block;	}
.icon-16-back-user					{	background-image: url(../images/menu/icon-16-back-user.png); width: 16px; height: 16px; display: block;	}
.icon-16-writemess					{	background-image: url(../images/menu/icon-16-writemess.png); width: 16px; height: 16px; display: block;	}
.icon-16-newsfeeds					{	background-image: url(../images/menu/icon-16-newsfeeds.png); width: 16px; height: 16px; display: block;	}
.icon-16-newsfeeds-cat				{	background-image: url(../images/menu/icon-16-newsfeeds-cat.png); width: 16px; height: 16px; display: block;	}
.icon-16-weblinks					{	background-image: url(../images/menu/icon-16-links.png); width: 16px; height: 16px; display: block;	}
.icon-16-weblinks-cat				{	background-image: url(../images/menu/icon-16-links-cat.png); width: 16px; height: 16px; display: block;	}
.icon-16-new						{	background-image: url(../images/menu/icon-16-new.png); width: 16px; height: 16px; display: block;	}
.icon-16-download					{	background-image: url(../images/menu/icon-16-download.png); width: 16px; height: 16px; display: block;	}
.icon-16-update						{	background-image: url(../images/menu/icon-16-update.png); width: 16px; height: 16px; display: block;	}
.icon-16-upload						{	background-image: url(../images/menu/icon-16-upload.png); width: 16px; height: 16px; display: block;	}
.icon-16-delete						{	background-image: url(../images/menu/icon-16-delete.png); width: 16px; height: 16px; display: block;	}
.icon-16-apply						{	background-image: url(../images/menu/icon-16-apply.png); width: 16px; height: 16px; display: block;	}
.icon-16-messaging					{	background-image: url(../images/menu/icon-16-messaging.png); width: 16px; height: 16px; display: block;	}

/* -- TOOLBAR ICON STYLES ----------------------------- */
.icon-32-send						{	background-image: url(../images/toolbar/icon-32-send.png); width:32px; height: 32px; display: block;	}
.icon-32-delete						{	background-image: url(../images/toolbar/icon-32-delete.png); width:32px; height: 32px; display: block;	}
.icon-32-help						{	background-image: url(../images/toolbar/icon-32-help.png); width:32px; height: 32px; display: block;	}
.icon-32-close						{	background-image: url(../images/toolbar/icon-32-close.png); width:32px; height: 32px; display: block;	}
.icon-32-deny						{	background-image: url(../images/toolbar/icon-32-deny.png); width:32px; height: 32px; display: block;	}
.icon-32-checkin					{	background-image: url(../images/toolbar/icon-32-checkin.png); width:32px; height: 32px; display: block;	}
.icon-32-options					{	background-image: url(../images/toolbar/icon-32-config.png); width:32px; height: 32px; display: block;	}
.icon-32-apply						{	background-image: url(../images/toolbar/icon-32-apply.png); width:32px; height: 32px; display: block;	}
.icon-32-back						{	background-image: url(../images/toolbar/icon-32-back.png); width:32px; height: 32px; display: block;	}
.icon-32-export						{	background-image: url(../images/toolbar/icon-32-export.png); width:32px; height: 32px; display: block;	}
.icon-32-forward					{	background-image: url(../images/toolbar/icon-32-forward.png); width:32px; height: 32px; display: block;	}
.icon-32-save						{	background-image: url(../images/toolbar/icon-32-save.png); width:32px; height: 32px; display: block;	}
.icon-32-orders						{	background-image: url(../images/toolbar/icon-32-orders.png); width:32px; height: 32px; display: block;	}
.icon-32-receipt					{	background-image: url(../images/toolbar/icon-32-article.png); width:32px; height: 32px; display: block;	}
.icon-32-stats						{	background-image: url(../images/toolbar/icon-32-stats.png); width:32px; height: 32px; display: block;	}
.icon-32-copy						{	background-image: url(../images/toolbar/icon-32-copy.png); width:32px; height: 32px; display: block;	}
.icon-32-move						{	background-image: url(../images/toolbar/icon-32-move.png); width:32px; height: 32px; display: block;	}
.icon-32-new						{	background-image: url(../images/toolbar/icon-32-new.png); width:32px; height: 32px; display: block;	}
.icon-32-upload						{	background-image: url(../images/toolbar/icon-32-upload.png); width:32px; height: 32px; display: block;	}
.icon-32-assign						{	background-image: url(../images/toolbar/icon-32-publish.png); width:32px; height: 32px; display: block;	}
.icon-32-html						{	background-image: url(../images/toolbar/icon-32-html.png); width:32px; height: 32px; display: block;	}
.icon-32-css						{	background-image: url(../images/toolbar/icon-32-css.png); width:32px; height: 32px; display: block;	}
.icon-32-menus						{	background-image: url(../images/toolbar/icon-32-menu.png); width:32px; height: 32px; display: block;	}
.icon-32-publish					{	background-image: url(../images/toolbar/icon-32-publish.png); width:32px; height: 32px; display: block;	}
.icon-32-unblock					{	background-image: url(../images/toolbar/icon-32-unblock.png); width:32px; height: 32px; display: block;	}
.icon-32-unpublish					{	background-image: url(../images/toolbar/icon-32-unpublish.png); width:32px; height: 32px; display: block;	}
.icon-32-restore					{	background-image: url(../images/toolbar/icon-32-revert.png); width:32px; height: 32px; display: block;	}
.icon-32-trash						{	background-image: url(../images/toolbar/icon-32-trash.png); width:32px; height: 32px; display: block;	}
.icon-32-archive					{	background-image: url(../images/toolbar/icon-32-archive.png); width:32px; height: 32px; display: block;	}
.icon-32-unarchive					{	background-image: url(../images/toolbar/icon-32-unarchive.png); width:32px; height: 32px; display: block;	}
.icon-32-preview					{	background-image: url(../images/toolbar/icon-32-preview.png); width:32px; height: 32px; display: block;	}
.icon-32-default					{	background-image: url(../images/toolbar/icon-32-default.png); width:32px; height: 32px; display: block;	}
.icon-32-refresh					{	background-image: url(../images/toolbar/icon-32-refresh.png); width:32px; height: 32px; display: block;	}
.icon-32-save-new					{	background-image: url(../images/toolbar/icon-32-save-new.png); width:32px; height: 32px; display: block;	}
.icon-32-save-copy					{	background-image: url(../images/toolbar/icon-32-save-copy.png); width:32px; height: 32px; display: block;	}
.icon-32-error						{	background-image: url(../images/toolbar/icon-32-error.png); width:32px; height: 32px; display: block;	}
.icon-32-new-style					{	background-image: url(../images/toolbar/icon-32-new-style.png); width:32px; height: 32px; display: block;	}
.icon-32-delete-style				{	background-image: url(../images/toolbar/icon-32-delete-style.png); width:32px; height: 32px; display: block;	}
.icon-32-purge						{	background-image: url(../images/toolbar/icon-32-purge.png); width:32px; height: 32px; display: block;	}
.icon-32-remove						{	background-image: url(../images/toolbar/icon-32-remove.png); width:32px; height: 32px; display: block;	}
.icon-32-featured					{	background-image: url(../images/toolbar/icon-32-featured.png); width:32px; height: 32px; display: block;	}
.toolbar-inactive					{	background-position: 0px 32px;  }
.icon-32-upload						{	background-image: url(../images/toolbar/icon-32-upload.png); width:32px; height: 32px; display: block;	}
.icon-32-upload-active2				{	background-image: url(../images/toolbar/icon-32-upload2-active.gif); width:32px; height: 32px; display: block;	}
.icon-32-user-edit					{	background-image: url(../images/toolbar/icon-32-user-edit.png); width:32px; height: 32px; display: block;	}
.icon-32-dispatch					{	background-image: url(../images/toolbar/icon-32-dispatch.png); width:32px; height: 32px; display: block;	}
.icon-32-dispatch-active			{	background-image: url(../images/toolbar/icon-32-dispatch-active.gif); width:32px; height: 32px; display: block;	}
.icon-32-undo						{	background-image: url(../images/toolbar/icon-32-undo.png); width:32px; height: 32px; display: block;	}
.icon-32-banner-client				{	background-image: url(../images/toolbar/icon-32-banner-client.png); width:32px; height: 32px; display: block;}
.icon-32-Usage						{	background-image: url(../images/toolbar/Usage.png);	}
.icon-32-UnUsage						{	background-image: url(../images/toolbar/Usage.png); background-position:bottom !important; background-size: 32px 70px;	}
.icon-32-usage-active				{	background-image: url(../images/toolbar/Usage-active.gif);}
.icon-32-shipping					{	background-image: url(../images/toolbar/Shipping.png);}
.icon-32-reader						{	background-image: url(../images/toolbar/icon-32-reader.png); width:32px; height: 32px; display: block;	}
.icon-32-inbox						{	background-image: url(../images/toolbar/icon-32-inbox.png); width:32px; height: 32px; display: block;	}
.icon-32-download					{	background-image: url(../images/toolbar/icon-32-download.png); width:32px; height: 32px; display: block;	}
.icon-32-print						{	background-image: url(../images/toolbar/icon-32-print.png);	}
.icon-32-messaging					{	background-image: url(../images/toolbar/icon-32-messaging.png); width:32px; height: 32px; display: block;	}


.inline-block
{
	display: inline-block;
	*display : inline; zoom: 1;
}


/* Screen Only */
@media screen {
 .noprint {display:block !important;}
 .noshow {display:none !important;}
}

/* Print Only */
@media print {
 .noprint {display:none !important;}
 .noshow {display:block !important;}
}

/*Change widths as necessary
------------------------------------------- */

/* MOBILE PORTRAIT */
@media only screen and (min-width: 300px) {
	div.width-45 {	width: 90%;}
	#border-top h1,
    #border-top h1 span {font-size: 12px;}
    .PageBanner {font-size: 12px; width: 160px;}
}

/* MOBILE LANDSCAPE */
@media only screen and (min-width: 480px) {
	div.width-45 {	width: 90%;}
    #border-top h1,
    #border-top h1 span {font-size: 12px;}
    .PageBanner {font-size: 12px; width: 200px;}
}

/* SMALL TABLET */
@media only screen and (min-width: 600px) {
	div.width-45 {	width: 90%;}
    #border-top h1,
    #border-top h1 span {font-size: 12px;}
    .PageBanner {font-size: 14px; width: 250px;}
}

/* TABLET/NETBOOK */
@media only screen and (min-width: 768px) { 
	div.width-45 {	width: 42%;}
    #border-top h1,
    #border-top h1 span {font-size: 16px;}
    .PageBanner {font-size: 16px; width: 320px;}
}

/* LANDSCAPE TABLET/NETBOOK/LAPTOP */
@media only screen and (min-width: 1024px) { 
	div.width-45 {	width: 42%;}
    #border-top h1,
    #border-top h1 span {font-size: 20px;}
    .PageBanner {font-size: 16px; width: 400px;}
}

@media only screen and (min-width: 1280px) { 
/* DESKTOP */
	div.width-45 {	width: 42%;}
    #border-top h1,
    #border-top h1 span {font-size: 20px;}
    .PageBanner {font-size: 16px; width: 500px;}
}

/* WIDESCREEN */
/* Increased body size for legibility */
@media only screen and (min-width: 1400px) { 
	div.width-45 {	width: 42%;}
    #border-top h1,
    #border-top h1 span {font-size: 20px;}
    .PageBanner {font-size: 16px; width: 600px;}
}
