body
{
	max-width: 70em;
}

.login #LogoPattern { height: 68px; margin-right: 0px; 
					 border-right: solid 1px #cccccc;  border-left: solid 1px #cccccc;}

#loginbox input
{
    background: #ffffff url("../images/login-sprite-user.png") no-repeat;
	background-position: 5px 1px;
    padding: 0px 0px 0px 30px;
    margin: 0px 0px 0px 0px;
	width: 200px;
	*width: 150px;
	height: 26px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	vertical-align: middle;
	line-height: 26px; } 
}
 
#loginUserRow input
{
    background: #ffffff url("../images/login-sprite-user.png") no-repeat;
	background-position: 5px 1px;
}
 
#loginPassRow input
{
    background: #ffffff url("../images/login-sprite-pass.png") no-repeat;
	background-position: 5px 1px;
}
 
#loginbox input:focus
{
    background-color: #fff0a0;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}
/* ----------------------- */
        
#txt_Username:-webkit-input-placeholder {
           color: #9c9c9c;
           font-style: italic;
        }
        
#txt_Username:-moz-placeholder {
           color: #9c9c9c;
           font-style: italic;
        }    
        
#txt_Username.placeholder {
           color: #9c9c9c !important;
           font-style: italic;
        }  
        
#txt_Username:focus
        {
            border-color: #8badb4;
            background: #fff;
            outline: none;
        }	
/* ----------------------- */
        
#Txt_Password:-webkit-input-placeholder {
           color: #9c9c9c;
           font-style: italic;
        }
        
#Txt_Password:-moz-placeholder {
           color: #9c9c9c;
           font-style: italic;
        }    
        
#Txt_Password.placeholder {
           color: #9c9c9c !important;
           font-style: italic;
        }  
        
#Txt_password:focus
        {
            border-color: #8badb4;
            background: #fff;
            outline: none;
        }

#border-bottom {margin: 0px;}

/*Change widths as necessary
------------------------------------------- */
@media only screen and (min-width: 20px) {
.login#border-top H1 { font-size: 12px; }
}

/* MOBILE PORTRAIT */
@media only screen and (min-width: 320px) {
.login#border-top H1 { font-size: 20px; }
}

/* MOBILE LANDSCAPE */
@media only screen and (min-width: 480px) {
.login#border-top H1 { font-size: 24px; }
}

/* SMALL TABLET */
@media only screen and (min-width: 600px) {
.login#border-top H1 { font-size: 28px; }
}

/* TABLET/NETBOOK */
@media only screen and (min-width: 768px) { 
.login#border-top H1 { font-size: 30px; }
}

/* LANDSCAPE TABLET/NETBOOK/LAPTOP */
@media only screen and (min-width: 1024px) { 
.login#border-top H1 { font-size: 30px; }
}

@media only screen and (min-width: 1280px) { 
/* DESKTOP */
.login#border-top H1 { font-size: 30px; }
}

/* WIDESCREEN */
/* Increased body size for legibility */
@media only screen and (min-width: 1400px) { 
.login#border-top H1 { font-size: 30px; }
}
