﻿
/* ALL BUTTONS */
/*.button1, .button1 div {height: 1%;	} /* float: right; */
/*.button1 {	background: url(../images/button-bg.jpg) 100% 0  no-repeat;	white-space: nowrap;	padding-left: 10px;	margin-right: 0px;	margin-top: 6px;	float:right;}
.button1 a {display: block;	height: 32px;	float: right;	line-height: 26px;	font-size: 1.091em;	font-weight: bold; color:#fff; cursor: pointer; padding: 3px 18px 0 18px;}
.button1 a:hover {text-decoration: none;color: #058ff2;}

.buttonsa-left a, 
.buttonsa-right a {background: url(../images/button-bg.jpg) 100% 0  no-repeat;height: 32px; width:65px; font-weight: bold;line-height: 25px;	font-size: 1.091em;	
                 color:#fff ; padding:  3px 6px 0px 6px; text-align:center;}
.buttons-left a:visited, 
.buttons-right a:visited {	color: #fff;	text-decoration: none;	outline: none;}
.buttons-left a:hover,
.buttons-right a:hover  {text-decoration: none;color: #058ff2;}
.buttons-left a {float: left;}
.buttons-right a {float: right;}
.disabled-button {opacity:0.6;} */

.LinkButton {padding:5px 10px 5px 10px; float:left;}
.buttons-small16 {border-style: none;	border-color: inherit;	border-width: medium; height:16px;	width:16px; background-repeat:no-repeat; margin-top: 0px; margin-bottom: 0px;}
.buttons-big32 {border-style: none;	border-color: inherit;	border-width: medium;	width:32px; height:32px;	background-repeat:no-repeat; margin-top: 0px; margin-bottom: 0px;}
.LinkButton2 {padding:1px 10px 0px 18px; float:left; background-repeat:no-repeat; margin-top:3px; font-weight:bold;}

/*DEFAULT BUTTONS */
.button-dynamic { font-weight: bold; line-height: 30px;	font-size: 1.091em !important; color:#fff !important ; padding:  3px 1px 0px 1px; cursor:pointer ;}
.button-dynamic:link, 
.button-dynamic:visited { color:whitesmoke;}
.button-dynamic:hover { color: lightSteelBlue; text-decoration:none;}
.button-dynamic #L { background: url(../images/buttonBackgrounds/but-blue-left.gif) no-repeat; height: 32px; width: 8px; float:left;  }
.button-dynamic #C { background: url(../images/buttonBackgrounds/but-blue-center.gif) repeat; height: 32px; float:left; text-align:center; }
.button-dynamic #R { background: url(../images/buttonBackgrounds/but-blue-right.gif) no-repeat; height: 32px; width: 8px; float:left; }
/*GREY BUTTONS */
.button-dynamic #Lg { background: url(../images/buttonBackgrounds/but-grey-left.gif) no-repeat; height: 32px; width: 8px; float:left; }
.button-dynamic #Cg { background: url(../images/buttonBackgrounds/but-grey-center.gif) repeat; height: 32px; float:left; text-align:center; }
.button-dynamic #Rg { background: url(../images/buttonBackgrounds/but-grey-right.gif) no-repeat; height: 32px; width: 8px; float:left;}
