
/* ProfileSettings PAGE */
/* -------------------------------------------------------------------------------------------------------------- */
.settings{	margin: 0px auto 0px;	}
#border-top-profile.settings {background: url(../images/login-header-bg.jpg) repeat-x left bottom ;	padding-bottom: 1px; height:61px; }
#border-top-profile.settings div {	background: url(../images/VerticalBorder.jpg) no-repeat right bottom; height:100% }
#border-top-profile.settings div div {	background: url(../images/VerticalBorder.jpg) no-repeat left bottom; border-top: solid 1px #cccccc;}
#border-top-profile.settings h1 { 	font-size: 24px;	font-weight: normal;	color: #005992;	line-height: 26px;	padding: 5px 0 0 15px;}

.login {	margin: 0px auto 0px; max-width: 750px;}
.login a {color: #0068b3;}
form#form-login {	clear: both;	padding: 10px 0 10px 0;}
.login-button,
.login-button div {	height: 1%;	float: left;}
.login-button {	background: url(../images/button-bg.jpg) 100% 0  no-repeat;	white-space: nowrap;	padding-left: 10px;	margin-right: 24px;	margin-top: 0px;	margin-bottom: 10px;	float:right;}

/*---Create New Account Styles----*/
div#new-account-box div.m form table.adminlist tr td a {	font-size: 1.1em;}
div#new-account-box div.m form table.adminlist tr td div.button2-left.smallsub a {	font-size: 1em;}
div#new-account-box div.m form table.adminlist tr td p.smallsub a,
div#new-account-box div.m div.pane-slider form table.adminlist a {	font-size: 1em;}

#new-account-box {	font-size: 12px;	background: #ffffff;	margin-bottom: 15px;}
#new-account-box  h2 {	margin: 0 0 0 20px;	padding-top: 10px;	padding-bottom: 8px;	color: #005992;	font-size: 20px;}
#new-account-box  h3 {color: #005992; font-size: 15px; line-height: 39px; width: 75%; border-left: solid 1px #cccccc; border-right: solid 1px #cccccc; border-top: solid 1px #cccccc; padding: 0px 15px 0px 20px!important; margin: 0;background:  url(../images/create-account-hd-bg.jpg) repeat-x;  }
#new-account-box  h3.inactive {	filter:alpha(opacity=30);	-moz-opacity:0.3;	-khtml-opacity: 0.3;	opacity: 0.3; }
#new-account-box  h4 {clear:both; color: #000000; margin: 0;padding: 15px 0 10px 10px!important; }
#new-account-box label{padding: 0px 5px 0 10px;width: 100px;}
#new-account-box p{	font-size: 12px;}
#new-account-box label.roles {width:300px;}
#new-account-box input{padding:3px;}
#new-account-box input.checkbox{margin: 2px 10px 0 0px;padding:0!important;}
#account-field-wrapper { 	float: left;	width: 60%;	margin-top: 0px;	margin-left: 15px;	background: none!important;}
#account-field-wrapper input {margin-top: 1px!important;padding: 3px;}
#account-field-wrapper label {width: auto; padding-top: 2px;}
#account-field-wrapper .m {	padding: 5px;	background: #ffffff!important;}
#account-field-wrapper .padding {	background: none;	padding: 0px!important;}
#account-description {float: left; width: 90%; padding-bottom: 5px!important; margin-left: 22px;}

fieldset.account-field-wrapper {		margin: 0 0px 15px 0;	overflow: visible;	overflow: hidden;	min-height: 250px;}
fieldset.account-field-wrapper legend {	margin: 0;	padding: 0;}
ul.creatacclist,
ul.creatacclist li,
ul.adminformlist,
ul.adminformlist li {	margin: 0;	padding: 0;	list-style: none;}
fieldset.accountform legend {	margin: 0;	padding: 5px;	border-top: solid 1px #cccccc;	border-left: solid 1px #cccccc;	border-right: solid 1px #cccccc;}
