/**
 * @version		$Id: rounded.css 20196 2011-01-09 02:40:25Z ian $
 * @package		Joomla.Administrator
 * @subpackage	templates.bluestork
 * @copyright	Copyright (C) 2005 - 2011 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

/** rounded corners **/
div#toolbar-box {
  background: #f4f4f4;
}

div#element-box {
  /*background: #f8f8f8;*/
  background-color: #f4f4f4;
}

div#element-box div.section-box div.m {
	background: #fbfbfb;

}

div.t, div.b {
	height: 6px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #f8f8f8;
}

div.m {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 0px 0px;
	background-color: #f4f4f4;
	}
div.user-profile-header {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 10px 8px;
	background-color: #ffffff;
}
div.user-profile-header h2 {
	margin: 0 0 0 20px;
	padding-top: 10px;
	padding-bottom: 8px;
	color: #005992;
	font-size: 20px;
}


.wbg {
	background-color: #fff!important;
}

div#toolbar-box div.m {
  padding: 0;
}

div#new-account-box div.m {
  padding: 5px 0px!important;
}
div#new-account-box hr{border-bottom: 1px solid #cccccc; border-top: none; margin: 11px 0px; padding: 0;}
div#new-account-box .inputbox{width: 200px;}

div#submenu-box div.t {
  background: url(../images/j_border.png) 0 0 repeat-x;
}

div#submenu-box div.t div.t {
   background: url(../images/j_crn_tr_dark.png) 100% 0 no-repeat;
}

div#submenu-box div.t div.t div.t {
   background: url(../images/j_crn_tl_dark.png) 0 0 no-repeat;
}

div#submenu-box div.b {
  background: url(../images/j_border.png) 0 100% repeat-x;
}

div#submenu-box div.b div.b {
   background: url(../images/j_crn_br_dark.png) 100% 0 no-repeat;
}

div#submenu-box div.b div.b div.b {
   background: url(../images/j_crn_bl_dark.png) 0 0 no-repeat;
}

div#toolbar-box,
div#element-box div.section-box {
  background: #f4f4f4;
}

div#toolbar-box div.t,
div#element-box div.section-box div.t {
  background: url(../images/j_border.png) 0 0 repeat-x;
}

div#toolbar-box div.t div.t,
div#element-box div.section-box div.t div.t {
   background: url(../images/j_crn_tr_dark.png) 100% 0 no-repeat;
}

div#toolbar-box div.t div.t div.t,
div#element-box div.section-box div.t div.t div.t {
   background: url(../images/j_crn_tl_dark.png) 0 0 no-repeat;
}

div#toolbar-box div.b,
div#element-box div.section-box div.b {
  background: url(../images/j_border.png) 0 100% repeat-x;
}

div#toolbar-box div.b div.b,
div#element-box div.section-box div.b div.b {
   background: url(../images/j_crn_br_dark.png) 100% 0 no-repeat;
}

div#toolbar-box div.b div.b div.b,
div#element-box div.section-box div.b div.b div.b {
   background: url(../images/j_crn_bl_dark.png) 0 0 no-repeat;
}

div#element-box div.t {
	background: url(../images/j_border.png) 0 0 repeat-x;
	width: 100%;
}

div#element-box div.t div.t {
   background: url(../images/j_crn_tr_dark.png) 100% 0 no-repeat;
}

div#element-box div.t div.t div.t {
   background: url(../images/j_crn_tl_dark.png) 0 0 no-repeat;
}

div#element-box div.b {
  background: url(../images/j_border.png) 0 100% repeat-x;
	width: 100%;
}

div#element-box div.b div.b {
   background: url(../images/j_crn_br_dark.png) 100% 0 no-repeat;
}

div#element-box div.b div.b div.b {
   background: url(../images/j_crn_bl_dark.png) 0 0 no-repeat;
}

/* login */
div#element-box.login  {
	background-color: #ffffff;
}

div#element-box.login div#section-box {
	background-color: #f4f4f4;
}

div#element-box.login > div.t > div.t {
	background:transparent url(../images/j_crn_tr_light.png) no-repeat scroll 100% 0;
}

div#element-box.login > div.t > div.t > div.t {
	background:transparent url(../images/j_crn_tl_light.png) no-repeat ;
}

div#element-box.login > div.b > div.b {
	background:transparent url(../images/j_crn_br_light.png) no-repeat scroll 100% 0;
}

div#element-box.login > div.b > div.b > div.b {
	background:transparent url(../images/j_crn_bl_light.png) no-repeat ;
}

div.mhosp {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-left:183px;
	/*padding: 10px 25px;*/
	width:300px;
	background-color: #f4f4f4;
	}

/* ALL PAGES */
	