﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HealthDemoMaster.Master" AutoEventWireup="true" CodeBehind="XMLRetreive.aspx.cs" Inherits="HealthDemo.XMLRetreive" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="FOOTER" runat="server">
</asp:Content>
